<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">JDBC driver class</property>
		<property name="hibernate.connection.url">JDBC URL</property>
		<property name="connection.username">database user</property>
		<property name="connection.password">database user password</property>
		<property name="hibernate.connection.pool_size">	maximum number of pooled connections</property>
		
		<property name="hibernate.show_sql">true</property>
		
		<property name="hibernate.format_sql">true</property> 
		
		<property name="hibernate.dialect"> full.classname.of.Dialect</property>
		
		<property name="hbm2ddl.auto">update</property>

		<mapping class="BO/Domain class Qualified name" />

	</session-factory>
</hibernate-configuration>
